<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alumni</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/alum.css">

  </head>
  <body style=" overflow-x: hidden;">
    <nav class="navbar shadow p-3 mb-3 bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main')}}">
          <img src="/static/bot.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-bottom">
          YourBuddy
        </a>
        <span>
          <a class="navbar-brand" href="{{ url_for('alumni')}}">Alumni</a>
          <a class="navbar-brand" href="{{ url_for('hackathon')}}">Hackathon</a>
          <a class="navbar-brand" href="{{ url_for('logout')}}">Logout</a>
        </span>
        
        
      </div>
    </nav> 
      <div class="row">
        <div class="col-2">
          <div class="sidebar" style="z-index: 1; position: fixed; width:15%; margin-left: 2%;margin-top: 12%; padding:1%;">
            <ul class="list-group">
              <li class="list-group-item">
                <input onclick="all1()"class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" >
                <label class="form-check-label" for="firstRadio">All</label>
              </li>
              <li class="list-group-item">
                <input onclick="sd()"class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
                <label class="form-check-label" for="secondRadio">Sofware Developer</label>
              </li>
              <li class="list-group-item">
                <input onclick="ec()" class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
                <label class="form-check-label" for="thirdRadio">Electronics</label>
              </li>
            </ul>

          </div>
         


        </div>
        <div class="col-9" style="margin-left: 20%;">
          <div class="row row-cols-1 row-cols-md-3 g-4" id="alums">
            
          </div>
        </div>
        
      </div>
    <h1></h1>
    <script src="/static/js/alums.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>